<style>
  :root {
    --primary: #D2D2D2;
    --text: #E5E5E5;
    --background: #777;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    display: flex;
    background: var(--background);
    justify-content: center;
  }

  .content {
    max-width: 600px;
    min-width: 350px;
    padding: 0 30px;
    font-size: 16px;
    font-family: sans-serif;
  }

  .logo {
    width: 300px;
    margin: 30px auto;
  }

  .logo svg {
    width: 100%;
  }

  .info {
    padding: 10px;
    color: var(--text);
    border: 5px solid var(--primary);
    text-align: center;
  }

  .redefined {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
  }

  .redefined a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    color: var(--background);
    background: var(--text);
    border-radius: 5px;
    transition: 0.3s ease all;
  }

  .redefined a:hover {
    background: var(--primary);
  }

  .optional {
    color: var(--text);
    text-align: center;
    margin-top: 20px;
  }

  .optional span {
    display: block;
    color: var(--background);
    background: var(--text);
    padding: 5px;
    margin-top: 20px;
  }

  .footer {
    color: var(--text);
    margin-top: 20px;
    text-align: center;
  }

  .footer span {
    display: block;
    margin: 50px 0;
  }
</style>

<div class="container">
  <div class="content">
    <div class="logo">
      <svg viewBox="0 0 854 159" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M201.451 120.505C199.81 120.505 198.382 119.898 197.169 118.684C196.027 117.47 195.457 116.042 195.457 114.4V48.4163C195.457 46.7739 196.027 45.3456 197.169 44.1316C198.382 42.9177 199.81 42.3107 201.451 42.3107H204.341C205.982 42.3107 207.41 42.9177 208.623 44.1316C209.836 45.3456 210.442 46.7739 210.442 48.4163V72.7315C210.442 73.3028 210.728 73.5885 211.299 73.5885H238.059C238.63 73.5885 238.916 73.3028 238.916 72.7315V48.4163C238.916 46.7739 239.522 45.3456 240.735 44.1316C241.948 42.9177 243.376 42.3107 245.017 42.3107H247.907C249.549 42.3107 250.94 42.9177 252.082 44.1316C253.295 45.3456 253.902 46.7739 253.902 48.4163V114.4C253.902 116.042 253.295 117.47 252.082 118.684C250.94 119.898 249.549 120.505 247.907 120.505H245.017C243.376 120.505 241.948 119.898 240.735 118.684C239.522 117.47 238.916 116.042 238.916 114.4V86.0139C238.916 85.3712 238.63 85.0499 238.059 85.0499H211.299C210.728 85.0499 210.442 85.3712 210.442 86.0139V114.4C210.442 116.042 209.836 117.47 208.623 118.684C207.41 119.898 205.982 120.505 204.341 120.505H201.451ZM276.927 120.505C275.285 120.505 273.858 119.898 272.645 118.684C271.432 117.47 270.825 116.042 270.825 114.4V48.4163C270.825 46.7739 271.432 45.3456 272.645 44.1316C273.858 42.9177 275.285 42.3107 276.927 42.3107H313.321C314.962 42.3107 316.39 42.9177 317.603 44.1316C318.816 45.3456 319.422 46.7739 319.422 48.4163C319.422 50.0586 318.816 51.487 317.603 52.7009C316.39 53.8435 314.962 54.4147 313.321 54.4147H286.774C286.132 54.4147 285.811 54.7361 285.811 55.3788V72.6244C285.811 73.2671 286.132 73.5885 286.774 73.5885H311.501C313.142 73.5885 314.498 74.1597 315.569 75.3023C316.711 76.445 317.281 77.8016 317.281 79.3727C317.281 80.9438 316.711 82.3005 315.569 83.4431C314.498 84.5143 313.142 85.0499 311.501 85.0499H286.774C286.132 85.0499 285.811 85.3712 285.811 86.0139V107.437C285.811 108.08 286.132 108.401 286.774 108.401H313.321C314.962 108.401 316.39 109.008 317.603 110.222C318.816 111.365 319.422 112.757 319.422 114.4C319.422 116.042 318.816 117.47 317.603 118.684C316.39 119.898 314.962 120.505 313.321 120.505H276.927ZM350.097 54.7361V108.08C350.097 108.58 350.382 108.901 350.953 109.044C353.236 109.401 355.378 109.579 357.376 109.579C365.726 109.579 371.862 107.33 375.788 102.831C379.711 98.2607 381.675 90.7626 381.675 80.3368C381.675 70.982 379.676 64.1266 375.681 59.7705C371.683 55.4144 365.582 53.2365 357.376 53.2365C355.378 53.2365 353.236 53.4151 350.953 53.772C350.382 53.9148 350.097 54.2362 350.097 54.7361ZM341.319 120.827C339.535 120.612 338.072 119.862 336.93 118.577C335.789 117.22 335.218 115.649 335.218 113.864V48.9518C335.218 47.1665 335.789 45.6313 336.93 44.3459C338.072 42.989 339.535 42.2035 341.319 41.9893C345.886 41.4894 350.989 41.2395 356.627 41.2395C369.328 41.2395 379.034 44.5601 385.741 51.2013C392.521 57.8424 395.912 67.5543 395.912 80.3368C395.912 94.0476 392.521 104.366 385.741 111.293C379.034 118.149 369.328 121.576 356.627 121.576C350.989 121.576 345.886 121.326 341.319 120.827ZM407.113 54.7361C405.472 54.7361 404.043 54.1649 402.831 53.0222C401.618 51.8083 401.011 50.38 401.011 48.7376V48.4163C401.011 46.7739 401.618 45.3456 402.831 44.1316C404.043 42.9177 405.472 42.3107 407.113 42.3107H452.712C454.353 42.3107 455.782 42.9177 456.994 44.1316C458.207 45.3456 458.814 46.7739 458.814 48.4163V48.7376C458.814 50.38 458.207 51.8083 456.994 53.0222C455.782 54.1649 454.353 54.7361 452.712 54.7361H438.369C437.799 54.7361 437.513 55.0574 437.513 55.7001V114.4C437.513 116.042 436.905 117.47 435.693 118.684C434.48 119.898 433.052 120.505 431.411 120.505H428.414C426.773 120.505 425.345 119.898 424.132 118.684C422.92 117.47 422.313 116.042 422.313 114.4V55.7001C422.313 55.0574 422.026 54.7361 421.456 54.7361H407.113Z"
          fill="#F3F3F3" />
        <path
          d="M478.61 98.7472C477.789 98.7472 477.076 98.4438 476.469 97.8368C475.862 97.2297 475.559 96.5157 475.559 95.6944V62.7028C475.559 61.8815 475.862 61.1675 476.469 60.5605C477.076 59.9534 477.789 59.65 478.61 59.65H479.948C480.876 59.65 481.732 59.8999 482.517 60.3998C483.301 60.8997 483.873 61.5602 484.23 62.3814L493.596 82.6263C493.596 82.662 493.614 82.6799 493.649 82.6799C493.684 82.6799 493.703 82.662 493.703 82.6263L503.069 62.3814C503.425 61.5602 503.997 60.8997 504.782 60.3998C505.566 59.8999 506.422 59.65 507.351 59.65H508.903C509.724 59.65 510.436 59.9534 511.044 60.5605C511.651 61.1675 511.953 61.8815 511.953 62.7028V95.6944C511.953 96.5157 511.651 97.2297 511.044 97.8368C510.436 98.4438 509.724 98.7472 508.903 98.7472H507.725C506.904 98.7472 506.192 98.4438 505.584 97.8368C504.977 97.2297 504.675 96.5157 504.675 95.6944V72.3968C504.675 72.3611 504.656 72.3432 504.621 72.3432C504.586 72.3432 504.568 72.3611 504.568 72.3968L498.145 86.1611C497.752 86.9824 497.146 87.6608 496.325 88.1963C495.541 88.6963 494.701 88.9461 493.81 88.9461H493.489C492.597 88.9461 491.741 88.6963 490.92 88.1963C490.135 87.6608 489.547 86.9824 489.153 86.1611L482.731 72.3968C482.731 72.3611 482.713 72.3432 482.677 72.3432C482.642 72.3432 482.624 72.3611 482.624 72.3968V95.6944C482.624 96.5157 482.321 97.2297 481.714 97.8368C481.107 98.4438 480.394 98.7472 479.573 98.7472H478.61ZM536.247 77.8061C535.212 76.3065 533.641 75.5567 531.537 75.5567C529.431 75.5567 527.844 76.3065 526.774 77.8061C525.738 79.2701 525.222 81.6087 525.222 84.8222C525.222 88.0357 525.738 90.3922 526.774 91.8918C527.844 93.3558 529.431 94.0877 531.537 94.0877C533.641 94.0877 535.212 93.3558 536.247 91.8918C537.317 90.3922 537.853 88.0357 537.853 84.8222C537.853 81.6087 537.317 79.2701 536.247 77.8061ZM541.492 95.5338C539.137 98.0331 535.819 99.2828 531.537 99.2828C527.255 99.2828 523.919 98.0331 521.529 95.5338C519.174 92.9986 517.996 89.4282 517.996 84.8222C517.996 80.2162 519.174 76.6635 521.529 74.1642C523.919 71.629 527.255 70.3616 531.537 70.3616C535.819 70.3616 539.137 71.629 541.492 74.1642C543.882 76.6635 545.078 80.2162 545.078 84.8222C545.078 89.4282 543.882 92.9986 541.492 95.5338ZM535.284 57.8826H538.12C538.726 57.8826 539.137 58.1504 539.351 58.6859C539.6 59.2215 539.529 59.7035 539.137 60.132L534.963 64.8987C533.641 66.3983 531.965 67.1481 529.93 67.1481H529.555C528.878 67.1481 528.379 66.8624 528.058 66.2912C527.737 65.7199 527.754 65.1485 528.112 64.5773L530.681 60.4533C531.714 58.7395 533.25 57.8826 535.284 57.8826ZM556.062 95.8551L548.943 73.7893C548.692 73.0751 548.783 72.4147 549.211 71.8076C549.674 71.2006 550.281 70.8971 551.031 70.8971H552.636C553.528 70.8971 554.33 71.1828 555.045 71.7541C555.757 72.2896 556.222 72.9859 556.436 73.8428L561.788 94.5697C561.788 94.6054 561.805 94.6233 561.842 94.6233C561.877 94.6233 561.895 94.6054 561.895 94.5697L567.247 73.8428C567.462 72.9859 567.925 72.2896 568.639 71.7541C569.352 71.1828 570.154 70.8971 571.047 70.8971H572.439C573.188 70.8971 573.777 71.2006 574.205 71.8076C574.669 72.4147 574.776 73.0751 574.526 73.7893L567.408 95.8551C567.157 96.712 566.659 97.4083 565.909 97.9439C565.195 98.4795 564.374 98.7472 563.447 98.7472H560.022C559.129 98.7472 558.309 98.4795 557.56 97.9439C556.846 97.4083 556.346 96.712 556.062 95.8551ZM590.068 75.3424C588.248 75.3424 586.838 75.8601 585.839 76.8956C584.876 77.8953 584.269 79.52 584.02 81.7694C584.02 82.0551 584.162 82.1979 584.448 82.1979H594.938C595.224 82.1979 595.366 82.0551 595.366 81.7694C595.224 77.4848 593.458 75.3424 590.068 75.3424ZM591.406 99.2828C586.731 99.2828 583.128 98.0689 580.594 95.6409C578.097 93.1772 576.848 89.5709 576.848 84.8222C576.848 80.1091 577.972 76.5207 580.22 74.0571C582.468 71.5934 585.714 70.3616 589.96 70.3616C597.882 70.3616 601.949 74.8604 602.163 83.8581C602.198 84.7151 601.896 85.4292 601.253 86.0005C600.611 86.5717 599.862 86.8574 599.006 86.8574H584.394C584.073 86.8574 583.948 87.0181 584.02 87.3394C584.269 89.7316 585.055 91.4813 586.375 92.5881C587.731 93.6592 589.693 94.1948 592.262 94.1948C593.868 94.1948 595.652 93.927 597.614 93.3914C598.256 93.2129 598.845 93.32 599.38 93.7128C599.951 94.1056 600.237 94.6412 600.237 95.3195C600.237 96.1408 599.987 96.8727 599.487 97.5154C599.024 98.1225 598.398 98.4974 597.614 98.6401C595.615 99.0686 593.546 99.2828 591.406 99.2828ZM612.595 98.7472C611.774 98.7472 611.06 98.4438 610.454 97.8368C609.847 97.2297 609.544 96.5157 609.544 95.6944V73.9499C609.544 73.1287 609.847 72.4147 610.454 71.8076C611.06 71.2006 611.774 70.8971 612.595 70.8971H613.986C614.806 70.8971 615.52 71.2006 616.127 71.8076C616.733 72.4147 617.037 73.1287 617.037 73.9499V95.6944C617.037 96.5157 616.733 97.2297 616.127 97.8368C615.52 98.4438 614.806 98.7472 613.986 98.7472H612.595ZM612.595 65.0058C611.774 65.0058 611.06 64.7023 610.454 64.0953C609.847 63.4882 609.544 62.7742 609.544 61.953V61.6316C609.544 60.8103 609.847 60.0963 610.454 59.4893C611.06 58.8823 611.774 58.5788 612.595 58.5788H613.986C614.806 58.5788 615.52 58.8823 616.127 59.4893C616.733 60.0963 617.037 60.8103 617.037 61.6316V61.953C617.037 62.7742 616.733 63.4882 616.127 64.0953C615.52 64.7023 614.806 65.0058 613.986 65.0058H612.595ZM635.602 87.5001C631.856 86.6788 629.18 85.5541 627.574 84.1259C626.005 82.6978 625.219 80.841 625.219 78.5559C625.219 75.9851 626.166 73.9856 628.056 72.5574C629.983 71.0935 632.819 70.3616 636.566 70.3616C638.921 70.3616 641.259 70.5758 643.577 71.0043C644.363 71.147 644.987 71.5398 645.45 72.1825C645.95 72.7896 646.2 73.5036 646.2 74.3248C646.2 75.0032 645.932 75.5567 645.397 75.9851C644.861 76.378 644.256 76.4851 643.577 76.3065C641.58 75.8066 639.474 75.5567 637.261 75.5567C634.05 75.5567 632.445 76.4492 632.445 78.2346C632.445 79.0915 632.749 79.8057 633.354 80.3769C633.962 80.9481 634.997 81.3945 636.459 81.7158C640.563 82.5371 643.363 83.6439 644.861 85.0364C646.397 86.4289 647.163 88.4641 647.163 91.142C647.163 93.7128 646.199 95.7123 644.273 97.1405C642.346 98.5687 639.546 99.2828 635.87 99.2828C633.48 99.2828 631.036 98.9971 628.538 98.4259C627.753 98.2473 627.111 97.8368 626.611 97.1941C626.112 96.5157 625.861 95.748 625.861 94.8911C625.861 94.2127 626.129 93.6949 626.664 93.3379C627.236 92.9809 627.842 92.8915 628.484 93.0701C630.804 93.7128 632.998 94.0341 635.067 94.0341C638.315 94.0341 639.938 93.0701 639.938 91.142C639.938 90.2136 639.616 89.4817 638.974 88.9461C638.369 88.4106 637.245 87.9285 635.602 87.5001Z"
          fill="#EDEDED" />
        <path
          d="M658.655 113.811H467.986C466.139 113.811 464.641 115.309 464.641 117.158C464.641 119.007 466.139 120.505 467.986 120.505H658.655C660.502 120.505 662 119.007 662 117.158C662 115.309 660.502 113.811 658.655 113.811Z"
          fill="#E3E3E3" />
        <path
          d="M658.655 43.5159H467.986C466.139 43.5159 464.641 45.0145 464.641 46.8632C464.641 48.7119 466.139 50.2106 467.986 50.2106H658.655C660.502 50.2106 662 48.7119 662 46.8632C662 45.0145 660.502 43.5159 658.655 43.5159Z"
          fill="#E3E3E3" />
        <path
          d="M655.31 46.8633V117.158C655.31 119.007 656.807 120.505 658.655 120.505C660.502 120.505 662 119.007 662 117.158V46.8633C662 45.0146 660.502 43.5159 658.655 43.5159C656.807 43.5159 655.31 45.0146 655.31 46.8633Z"
          fill="#E3E3E3" />
        <path
          d="M461.296 46.8633V117.158C461.296 119.007 462.794 120.505 464.641 120.505C466.488 120.505 467.986 119.007 467.986 117.158V46.8633C467.986 45.0146 466.488 43.5159 464.641 43.5159C462.794 43.5159 461.296 45.0146 461.296 46.8633Z"
          fill="#E3E3E3" />
        <rect y="71" width="154" height="14" fill="#F3F3F3" />
        <rect y="71" width="154" height="14" fill="#F3F3F3" />
        <rect x="700" y="71" width="154" height="14" fill="#F3F3F3" />
        <rect x="700" y="71" width="154" height="14" fill="#F3F3F3" />
      </svg>
    </div>

    <p class="info">
      Ola, <b>{{name}}</b> foi solicitado uma troca de senha para sua conta, siga os passos abaixo para concluir. Caso
      não tenha sido você desconsidere essa mensagem.
    </p>

    <div class="redefined">
      <p>Clique no botão para redefinir a senha da sua conta.</p>
      <a href="{{link}}" target="_blank" rel="noopener noreferrer">Redefinir</a>
    </div>

    <div class="optional">
      <p>O botão não funciona para você? Copie a URL abaixo para o seu navegador.</p>
      <span>{{link}}</span>
    </div>

    <div class="footer">
      <p>Para sua segurança nunca compartilhe seus dados.</p>
      <span>
        Equipe: HEDT Móveis
      </span>
    </div>
  </div>
</div>
